{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Введите название города">
        <button type="submit">Найти</button>
    </form>

    <div class="comparison-container">
        {% if weather_data %}
            <div class = "city-container">
                {% include 'weather_app/city_weather.html' with weather_data=weather_data daily_forecast=daily_forecast%}
            </div>
        {% endif %}
    </div>
</body>
</html>